/* Desktop Styles */
.tonic-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  backdrop-filter: blur(2px);
}

.tonic-modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.tonic-modal {
  width: 40%;
  max-width: 100%;
  padding: 30px 50px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.tonic-modal h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.tonic-stacks ul li:first-child {
  color: #344563;
  font-weight: 500;
  list-style: none;
}

.tonic-stacks ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  list-style-type: disc;
  margin-right: 32px;
}

.tonic-modal .image-holder {
  width: 100%;
}

.image-holder img {
  width: 100%;
  max-height: 500px;
}

.tonic-modal p {
  margin: 20px 0;
  opacity: 0.8;
}

.tonic-modal .technologies ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding: 4px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
}

.tonic-modal button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  opacity: 0.5;
}

.tonic-contents .network {
  display: flex;
  justify-content: space-around;
}

.tonic-contents .network a {
  border: 1px solid #6070ff;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}

.tonic-contents .network a span {
  color: #6070ff;
  margin-right: 6px;
}

.tonic-modal button:hover {
  opacity: 1;
}

/* Media Queries for Desktop Screen - All scrren sizes within the range of 992px and below. */

@media (max-width: 992px) {
  .tonic-modal {
    width: 80%;
    max-width: 90%;
  }
}
